#cs1300-gallery {
  background-color: #ccccff;
  width: 60vw;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
}

h1 {
  display: flex;
  justify-content: center;
}

body {
  background-color: #4d0099;
  display: flex;
  flex-direction: column;
}

.pastry-img {
  width: 20vw;
  height: 20vw;
  border-radius: 8pt;
}

#first-row, #second-row {
  display: flex;
  justify-content: space-evenly;
}

#second-row {
  margin-top: 2rem;
}
